/ProgTech/Week3/nbproject/private/
/ProgTech/week4/nbproject/private/
/ProgTech/Assignment/JavaApplication1/nbproject/private/
/ProgTech/Assignment/Shape/nbproject/private/
/ProgTech/A2 material/Flashcards/build/
/ProgTech/A2 material/FlashcardsMV/build/
